* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 70px;
}

.row .col-xs-12 col-sm-6 col-md-8 ul li {
	text-decoration: none;
}

